.parallax {
	/* Background image */
	background-image: url("/masthead.jpg");
	
	/* Full height */
	height: 100%;
	
	/* Parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Turn off scrolling for tablets and phones */
@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}
