/*
  You can use import statements to include partials:
 */
@import 'reset';

/*
  Import the masthead partials
 */
@import 'masthead';

/*
  Or add your statements here:
 */
body, html {
	height: 100%;
}

body{
  font-family: sans-serif;
  font-size: 1em;
  text-align: center;
}

.content {
	height: 100%;
}
